/* Fonts */

@font-face {
    font-family: 'Rubik-Regular';
    src: url('fonts/Rubik/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables */

:root {
    --Core-Font: 'Rubik-Regular';

    --Text-Colour: #ffffff;
    --Background-Colour: #0f1015;
    --Primary-Colour: #00e5ff;
    --Secondary-Colour: #1e202a;
    --Accent-Colour: #d8683b;
}

/* Media Queries */

/* Animations */

@keyframes Bob {
    from {
      transform: translate(-50%, 7%);
    }
    to {
      transform: translate(-50%, 0);
    }
}

@keyframes BackgroundMovement {
    from {
      left: -10%;
    }
    to {
      left: -5%;
    }
}


@keyframes PlayButtonGlow {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}

/* Styling */

html {
    
    background-color: var(--Background-Colour);
    
    overflow: hidden;
    padding: 0;

}



#TitleScreen {
    
    margin-top: -1%;

    transition-property: opacity;
    transition-duration: 300ms;

    position: absolute;
    width: 100%;
    height: 100%;
}



#TitleImage {

    user-select: none;
    position: absolute;
    
    margin-top: 0%;

    left: 50%;

    width: 100%;
    height: 25.5%;

    animation: 4s cubic-bezier(0.37, 0, 0.63, 1) 0s infinite alternate Bob;
    transition-property: opacity;
    transition-duration: 300ms;

    object-fit: contain;
    
}


#TitleBackgroundImage {

    user-select: none;
    position: absolute;

    width: 115%;
    height: 105%;

    object-fit: cover;

    animation: 4s cubic-bezier(0.37, 0, 0.63, 1) 0s infinite alternate BackgroundMovement;
    transition-property: opacity;
    transition-duration: 300ms;

}


#StarCount {

    position: absolute;

    left: 6.5%;
    bottom: -3.5%;
    transform: translate(-50%, -50%);

    user-select: none;
    font-family: var(--Core-Font);
    font-size: 2cqw;

    text-align: left;

    color: #ffffff;

}

#StarCount_Image {

    position: absolute;
    bottom: 1%;
    left: -80%;

    height: 120%;

}


.ImportantButton {

    position: absolute;

    top: 50%;
    left: 50%;

    width: 18%;
    height: 8.5%;

    transform: translate(-50%, -50%);


    font-family: var(--Core-Font);
    font-size: 2.5cqw;

    border: none;
    outline: none;

    color: #777777;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;

    z-index: 0;
    border-radius: 1vh;

    transition-property: color, opacity;
    transition-duration: 300ms;

}

.ImportantButton::before {
    content: "";
    
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: PlayButtonGlow 60s linear infinite;
    transition: 300ms ease-in-out;
    border-radius: 1vh;
}

.ImportantButton::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222222;
    left: 0;
    top: 0;
    border-radius: 1vh;

    transition-property: backgroundColor;
    transition-duration: 300ms;
}

.ImportantButton:hover {

    color: #ffffff;

}

.ImportantButton:hover::before {

    top: -5px;
    left: -5px;

    width: calc(100% + 10px);
    height: calc(100% + 10px);

}
  
.ImportantButton:active{
  
    background: #22222200;
    color: #000000;

}

.ImportantButton:active::after {
  
    background: #22222200;

}



#LevelScreen {

    position: absolute;
    width: 100%;
    height: 100%;

    transition-property: opacity;
    transition-duration: 300ms;

    visibility: collapse;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

}



#LevelGridContainer {

    position: absolute;

    background-color: #00000000;
    
    height: 65vh;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    
    overflow: hidden;
    border-radius: 5%;

}



#LevelGrid {
    
    background-color: #ffffff00;

    width: 100.1%;
    height: 100.1%;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-property: background-color;
    transition-duration: 0.6s;

}



#LevelMoveCounter_Label {

    font-family: var(--Core-Font);
    font-size: 3.5cqw;
    color: var(--Text-Colour);

    position: absolute;

    margin: 0;
    bottom: 52%;
    left: 10%;

    user-select: none;

    transition-property: color;
    transition-duration: 300ms;

}

#LevelMoveCounter {

    font-family: var(--Core-Font);
    font-size: 3.5cqw;
    color: var(--Text-Colour);

    position: absolute;

    margin: 0;
    bottom: 45%;
    left: 10%;

    user-select: none;

    transition-property: color;
    transition-duration: 300ms;

}



#LevelTimer_Label {

    font-family: var(--Core-Font);
    font-size: 3.5cqw;
    color: var(--Text-Colour);

    position: absolute;

    margin: 0;
    bottom: 52%;
    right: 10%;

    user-select: none;
    text-align: right;

    transition-property: color;
    transition-duration: 300ms;

}

#LevelTimer {

    font-family: var(--Core-Font);
    font-size: 3.5cqw;
    color: #ffffff50;

    position: absolute;

    margin: 0;
    bottom: 45%;
    right: 10%;

    user-select: none;
    text-align: right;

    transition-property: color;
    transition-duration: 300ms;

}




#LevelTitle {

    font-family: var(--Core-Font);
    font-size: 3cqw;
    color: var(--Text-Colour);

    position: absolute;

    text-align: center;

    margin: 0;
    top: 7%;
    left: 50%;

    transform: translate(-50%, -50%);

    user-select: none;

}



#LevelHelp {

    position: absolute;
    text-align: right;

    font-family: var(--Core-Font);
    font-size: 2cqw;
    color: #ffffff50;

    user-select: none;

    width: 25%;

    right: 2%;
    bottom: 0%;

    transition-property: color;
    transition-duration: 300ms;

}



.Tile {

    user-select: none;
    background-color: #00000000;

    transition-duration: 1000ms;

}



.TileIcon {

    user-select: none;

    margin-left: 12.5%;
    margin-top: 12.5%;
    
    width: 75%;
    height: 75%;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-property: filter;
    transition-duration: 0.6s;

}



.TileIconBackground {

    margin-left: 13%;
    margin-top: -78%;
    
    width: 72%;
    height: 72%;
    
    border-radius: 100%;

}



#Player {
    /* border affects sizing for whatever reason..*/
    border-radius: 50%;
    
    background-color: #000000;
    position: absolute;

    user-select: none;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-property: top, left, background-color;
    transition-duration: 0.6s;

}


/* ------------------------------------------------------------------------------------------ */


#LevelCompleteOverlay {

    position: fixed;

    width: 101%;
    height: 101%;
   
    background-color: #000000aa;
    backdrop-filter: blur(10px) grayscale(100%);

    visibility: collapse; 
    opacity: 0;

    transition-property: opacity;
    transition-duration: 300ms;

}


#LevelComplete_StarContainer {

    position: absolute;
    top: 5%;
    left: 32%;

    width: 100%;
    height: 100%;

}

.LevelComplete_Star {

    position: absolute;
    height: 10%;
    
    margin: 0;

}

#LevelComplete_Star1 {
    
    top: 21%;
    opacity: 0.6;

} 

#LevelComplete_Star2 {

    top: 35%;

} 

#LevelComplete_Star3 {

    top: 49%;
    opacity: 0.6;

} 


.LevelComplete_StarLabel {

    position: absolute;
    margin: 0;

    left: 7.5%;

    font-family: var(--Core-Font);
    font-size: 3cqw;

    user-select: none;
    text-align: center;
    
    text-shadow: 0 0.05em 0.3em #00000090;

}


#LevelComplete_Star1Label {

    top: 23.5%;
    color: #ffffff;

} 

#LevelComplete_Star2Label {

    top: 37.5%;
    color: #36ce31;
    
} 

#LevelComplete_Star3Label {

    top: 51.5%;
    color: #ffffff;

} 

#RetryButton {

    margin-top: 16%;
    margin-left: 9%;

    
    padding-left: 2%;
    width: 13%;
}

#RetryButton:hover #RetryButtonImage { opacity: 1; } 

#RetryButton:active #RetryButtonImage { filter: invert(100%); }

#RetryButtonImage {

    user-select: none;
    
    transition-property: opacity, filter; 
    transition-duration: 500ms;

    position: absolute;


    height: 55%;
    top: 21%;
    left: 6.5%;

    opacity: 0.37;

}

#ContinueButton {

    margin-top: 16%;
    margin-left: -9%;

    padding-left: 3.5%;
    width: 16%;

}

#ContinueButton:hover #ContinueButtonImage { opacity: 1; } 

#ContinueButton:active #ContinueButtonImage { filter: invert(100%); }


#ContinueButtonImage {

    user-select: none;

    transition-property: opacity, filter; 
    transition-duration: 500ms;

    position: absolute;


    height: 60%;
    top: 18%;
    left: 6%;

    opacity: 0.37;

}


#LevelCompleteImage {

    user-select: none;
    position: absolute;
    
    margin-top: 0%;

    left: 50%;

    width: 90%;
    height: 24%;

    animation: 4s cubic-bezier(0.37, 0, 0.63, 1) 0s infinite alternate Bob;
    transition-property: opacity;
    transition-duration: 300ms;

    object-fit: contain;
    

}


#RestartButton {

    font-size: 2.25cqw;

    top: 89.5%;
    height: 7%;
    width: 14%;

}

#VersionIndicator {

    font-family: var(--Core-Font);
    font-size: 0.8cqw;
    color: #ffffff50;

    position: absolute;

    right: 1.5%;

    bottom: 1%;
    margin: 0;

}

#CreditsScreen {

    position: absolute;
    width: 100%;
    height: 100%;

    visibility: collapse;

}

.CreditsHeader {

    font-family: var(--Core-Font);
    font-size: 2.5cqw;
    color: #ffffff;

    position: absolute;

    top: 5%;
    left: 50%;

    transform: translate(-50%, -50%);
    

}

.CreditsText {
    
    font-family: var(--Core-Font);
    font-size: 2cqw;
    color: #ffffff;

    position: absolute;

    left: 50%;

    transform: translate(-50%, -50%);

}

#ReturnToMenuButton {

    top: 85%;

}

#ReturnToMenuButton:hover #ReturnToMenuImage { opacity: 1; } 

#ReturnToMenuButton:active #ReturnToMenuImage { filter: invert(100%); }


#ReturnToMenuImage {

    user-select: none;

    transition-property: opacity, filter; 
    transition-duration: 500ms;

    position: absolute;


    height: 60%;
    top: 18%;
    left: 6%;

    opacity: 0.37;

}